
.wilmaplus-card {
    display: flex;
    min-height: 350px;
    max-width: 750px;
    background: var(--card-1);
    max-height: 532px;
    border-radius: 15px;
    transition: height 1s, width 1s;
    margin: 15px;
}

.wilmaplus-card > content {
    display: block;
    margin: 27px;
    overflow: hidden;
    width: 100%;
    max-height: 532px;
}

html, body, #root {
    height: 100%;
    width: 100%;
}