:root {
  --background: #fff;
  --color-1: #3b3a3a;
  --color-2: #565555;
  --color-3: #525050;
  --color-3-alternate: #7c7777;
  --on-color-3: #fff;
  --color-4: #6F6D6D;
  --on-color-4: #565555;
  --on-color-4-heavy: #3b3a3a;
  --card-1: #E4E3E3;
  --on-card-1: #CECECE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --color-1: #c3beb6;
    --color-2: #b2aba1;
    --color-3: #b0aeae;
    --color-3-alternate: #7c7777;
    --on-color-3: #fff;
    --color-4: #a4a4a4;
    --on-color-4: #9b9b9b;
    --on-color-4-heavy: #c3beb6;
    --card-1: #282b2c;
    --on-card-1: #34383a;
  }
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--color-1)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animated-transitions {
  animation: fade_in_show 0.5s
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .app-logo, .inverted-icon {
    filter: brightness(0) invert(1);
  }
}